[Unit]
Description=CANTBoot Initial Setup
Before=local-fs.target

[Service]
Type=oneshot
User=root
WorkingDirectory=/
ExecStart=/home/naomi/CANTBoot/sys/setup.sh

[Install]
WantedBy=multi-user.target
