[Unit]
Description=CANTBoot Initial Setup
After=multi-user.target

[Service]
Type=simple
User=root
WorkingDirectory=/
ExecStart=/bin/bash -C /home/naomi/CANTBoot/sys/setup.sh

[Install]
WantedBy=multi-user.target
